
* {
  box-sizing: border-box;
}

.heroheader {
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/assets/img/header-bg.jpg);
  width: 100vw;
  height: 80vh;
  /* padding: 370px; */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: black;
  justify-content: space-between;
  margin: 0px;
  position: fixed;
}

.start-logo {
  background-image: url(https://blackrockdigital.github.io/startbootstrap-agency/assets/img/navbar-logo.svg);
  margin-left: 80px; 
  height: 28px;
  width: 165px;
  margin-right: 10px;

}

.nav-bar-tasks {
  display: flex;
  flex-direction: row;
  width: 600px;
  justify-content: space-evenly;
  margin-right: 50px;
  margin-left: 500px;
}

.nav-task{
  display: flex;
}

.nav-link{
color: white;
font-size: 18px;
/* margin: 10px; */
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.welcome {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 45px;
  color: white;
}

.nice{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 55px;
  color: white;
}

.tell{
  background-color: orange;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  border: none;
  border-radius: 5px;
}

.hamburger {
  margin-right: 70px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  height: 40px;
}

.mobile-nav{
  position: relative;
}

.mobile-nav-list-open {
  position: absolute;
  top: 5vh;
  width: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 10000ms;
  left: 0;
}

.mobile-nav-bar-task {
width: 100vw;
}

.body1 {
  height: 1000px;
  width: 100vw;
  background-color: white;
  width: 80px;
  font-size: 20px;
}

@media (max-width: 1165px) {
  .nav-bar-tasks {
    display: none;
  }
}

@media (min-width: 1165px) {
  .hamburger {
    display: none;
  }
}







/* 
#sp-header{
  background:rgba(255,255,255,0.6);
  transition:background 0.5s ease;
}
#sp-header.header-sticky{
  background:#fff;
}

#sp-slider{
  margin-top:-140px;
} */